html{
    background-color: rgba(163, 221, 163, 0.397);
}

header{
    text-align: center;
    background-color:khaki;
    padding:10px;
    font-size: 50px
    
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: yellowgreen;
}

article{
    
    background-color: khaki;
    padding: 10px;
}
h1{
    text-align: left;
}
p{
    text-align: left;
}

.flexboxtext{
    text-align: center;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
link:hover{
    font-size: large;
}
li a:hover{
    background-color: greenyellow;
    color:grey;
}

.box{
    float:left;
    width:200px;
    height:1010px;
    margin:10px;
    background-color: yellowgreen;
    min-height: 10px;

}

footer{
    background-color: rgb(255, 249, 202);
    margin:20px;
    text-align: center;
    
}