body{
    background-color: khaki;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 20px;
    color: brown
}
h1{
    border-bottom: black;
    font-size: 16px;
    color:red;
}
a{
    color: rgb(0, 89, 255);
    text-decoration-color: rgb(0, 153, 255);
    
}
a:hover{
    
    font-size: 150%;
}

figure {
    float: right;
    width: 20%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
  }



